html {
	background: url("background7.jpg");
	background-size: cover;
	background-attachment: fixed;
	top: 0;
	right: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0 0;
	overflow-x: hidden;
}

span {
	position: fixed;
	color: black;
	background-color: red;
	padding: 5px 5px 5px 5px;
	display: grid;
	place-items: center;
	transition: margin-left 0.5s;
}
#page2,
#page3,
#page4 h2 {
	padding-top: 3.1%;
}
#content {
	height: 100%;
	width: 100%;
	transition: margin-left .5s;
	background-color: transparent;
}
#page1 {
	width: 100%;
	height: 100%;
}
#page2 {
	width: 100%;
	height: auto;
}
#page3 {
	width: 100%;
	height: auto;
}

.sidebar {
	width: 0;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 0;
	background-color: black;
}

.sidebar img {
	height: 160px;
	width: 100%;
}
.sidebar a {
	padding: 8px 8px 8px 20px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.5s;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.section {
	/*background: url("background1.png");*/
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-top: 0%;
	top: 0;
	right: 0;
	left: 0;
	padding-left: 0;
}
.section h1 {
	color: black;
	font-size: 6rem;
	margin: 0;
	width: 50px;
	padding-left: 2%;
}

.section h2 {
	font-size: 4rem;
	color: white;
	width: 69%;
	padding-left: 2%;
	margin: 0 0;
	line-height: 90px;
	border-right: 60px solid transparent;
	border-bottom: 90px solid black;
	height: 0;
	display: block;
}
.section h3 {
	color: black;
	font-size: 200%;
	margin: 0;
	padding: 0;
	padding-left: 2%;
	background-color: transparent;
	width: 50%;
	height: 50px;
	line-height: 50px;
	border-right: 30px solid transparent;
	border-bottom: 50px solid white;
	height: 0;
	display: block;
}

.container {
	margin-top: 2%;
	padding: 1% 1%;
	display: flex;
	width: 69%;
	overflow-x: hidden;
	/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)); */
	background-color: rgba(0, 0, 0, 0.5);
}

.container i {
	font-size: 700%;
}

.section p {
	font-size: 20px;
	color: white;
	width: 300px;
	padding-left: 1%;
	padding-right: 1%;
	margin: 2% 1% 2% 1%;
}

.section form {
	display: block;
	height: auto;
}

#page1 img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin-left: 1%;
	margin-top: 5%;
}

#about {
	/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)); */
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2% 50% 2% 3%;
	margin-left: 0;
}

#email {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 100%;
	font-size: 160%;
	width: 40%;
	font-family: inherit;
}

#message {
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 100%;
	font-size: 160%;
	width: 40%;
	height: 200px;
	font-family: inherit;
}

button {
	background: white;
	color: black;
	border-style: outset;
	border-color: white;
	height: 50px;
	width: 100px;
	font: bold 20px calibri, sans-serif;
	text-shadow: none;
	margin-top: 2%;
	margin-left: 2%;
}

@media (max-width: 1023px) {
	#page1 img {
		width: 200px;
		height: 200px;
		margin-top: 35%;
	}
	.section h1 {
		font-size: 4rem;
	}
	.section h2 {
		font-size: 1.5rem;
		border-right: 30px solid transparent;
		border-bottom: 50px solid black;
		line-height: 50px;
	}
	.section h3 {
		font-size: 1.2rem;
		border-right: 20px solid transparent;
		border-bottom: 40px solid white;
		line-height: 40px;
	}

	.section .container {
		flex-wrap: wrap;
		width: 100%;
	}
	.section .container i {
		flex: 0 50%;
	}
	#page2,
	#page3,
	#page4 h2 {
		padding-top: 50px;
	}
}
